service macaddrsetup /vendor/bin/macaddrsetup /sys/devices/fb000000.qcom,wcnss-wlan/wcnss_mac_addr
    class late_start
    user root
    group root bluetooth system
    oneshot
    #seclabel u:r:macaddrsetup:s0

